version: "3.9"

services:
  user-db:
    image: postgres:15
    container_name: user-db
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: user_service
      POSTGRES_PASSWORD: user_password
    ports:
      - "5433:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data

  product-db:
    image: postgres:15
    container_name: product-db
    environment:
      POSTGRES_DB: product_db
      POSTGRES_USER: product_service
      POSTGRES_PASSWORD: product_password
    ports:
      - "5434:5432"
    volumes:
      - product_db_data:/var/lib/postgresql/data

  order-db:
    image: postgres:15
    container_name: order-db
    environment:
      POSTGRES_DB: order_db
      POSTGRES_USER: order_service
      POSTGRES_PASSWORD: order_password
    ports:
      - "5435:5432"
    volumes:
      - order_db_data:/var/lib/postgresql/data

  payment-db:
    image: postgres:15
    container_name: payment-db
    environment:
      POSTGRES_DB: payment_db
      POSTGRES_USER: payment_service
      POSTGRES_PASSWORD: payment_password
    ports:
      - "5436:5432"
    volumes:
      - payment_db_data:/var/lib/postgresql/data

  notification-db:
    image: postgres:15
    container_name: notification-db
    environment:
      POSTGRES_DB: notification_db
      POSTGRES_USER: notification_service
      POSTGRES_PASSWORD: notification_password
    ports:
      - "5437:5432"
    volumes:
      - notification_db_data:/var/lib/postgresql/data

volumes:
  user_db_data:
  product_db_data:
  order_db_data:
  payment_db_data:
  notification_db_data:
